* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
nav{
    border: 1px solid #ffcc25;
    height: 35px;
    display:flex;
    align-items: center;
}
title{
    user-select: none;
    margin-left: 10px;
}