<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Real-Time</title>
    <link rel="stylesheet" href="./static/index.css">
    <script>
        async function refreshData() {
            try {
                const response = await fetch('/api/data'); // Call the API endpoint
                const data = await response.json();

                // Update current time
                const timeElement = document.querySelector('.time');
                const currentTimeParts = data.current_time.split(':');
                timeElement.textContent = `${currentTimeParts[0]}:${currentTimeParts[1]} ${currentTimeParts[2].split(' ')[1]}`;

                // Update buses
                const frameContainer = document.querySelector('.frame');
                frameContainer.innerHTML = ''; // Clear old content

                const stmLogoDiv = document.createElement('div');
                stmLogoDiv.className = "stm-logo-container";
                stmLogoDiv.innerHTML = `<img src="/static/assets/images/STM.png" alt="STM logo" class="stm-logo">`;
                frameContainer.appendChild(stmLogoDiv);
                
                data.buses.forEach((bus) => {
                    const busDiv = document.createElement('div');
                    busDiv.className = `frame-1 ${bus.arrival_time === 'Unavailable (Route Canceled)' ? 'canceled' : ''}`;

                    // Occupancy icons
                    let occupancyIcons;
                    if (bus.occupancy === "Near_Empty") {
                        occupancyIcons = `
                            <img src="/static/assets/icons/green-person.png" alt="Light occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                            <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                            <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                        `;
                    } else if (bus.occupancy === "Light") {
                        occupancyIcons = `
                            <img src="/static/assets/icons/green-person.png" alt="Light occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/green-person.png" alt="Light occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                            <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                        `;
                    } else if (bus.occupancy === "Medium") {
                        occupancyIcons = `
                            <img src="/static/assets/icons/yellow-person.png" alt="Medium occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/yellow-person.png" alt="Medium occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/yellow-person.png" alt="Medium occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                        `;
                    } else if (bus.occupancy === "Full") {
                        occupancyIcons = `
                            <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                        `;
                    } else {
                        // Default to unknown occupancy (all gray)
                        occupancyIcons = `
                            <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                            <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                        `;
                    }

                    const signal = bus.arrival_time !== "Unavailable (Route Canceled)" ? '<img src="/static/assets/icons/signal.png" class="blinking-icon">' : '';

                    busDiv.innerHTML = `
                        <div class="buttonBlueBuses">                            
                            <span class="frame-2">${bus.route_id}</span>
                        </div>
                        <div class="frame-3">
                            <span class="direction">
                                <img src="/static/assets/icons/arrow_circle.png" alt="Direction Icon" class="direction-icon">
                                ${bus.direction}
                            </span>
                            <span class="location">${bus.location}</span>
                        </div>
                        <div class="frame-4">
                            <span class="time-remaining">${bus.arrival_time !== 'Unavailable (Route Canceled)' ? `${bus.arrival_time} min` : 'Annulé'}</span>
                            ${signal}
                            <div class="occupancy-group">
                                ${occupancyIcons}
                            </div>
                        </div>
                    `;
                    frameContainer.appendChild(busDiv);
                });

                // Update trains
                const trainContainer = document.querySelector('.train-frame');
                trainContainer.innerHTML = ''; // Clear old content
                
                const logoDiv = document.createElement('div');
                logoDiv.className = "exo-logo-container";
                logoDiv.innerHTML = `<img src="/static/assets/images/exo.png" alt="Exo logo" class="exo-logo">`;
                trainContainer.appendChild(logoDiv);

                data.next_trains.forEach((train) => {
                const trainDiv = document.createElement('div');
                trainDiv.className = "frame-1";

                let buttonClass = "";
                if (train.route_id === "12") {
                    buttonClass = "buttonSJ"; // Yellow for Saint-Jérôme
                } else if (train.route_id === "15") {
                    buttonClass = "buttonMA"; // Pink for Mascouche
                } else {
                    buttonClass = "defaultButton";
                }

                let occupancyIcons;
                if (train.occupancy === "Near_Empty") {
                    occupancyIcons = `
                        <img src="/static/assets/icons/green-person.png" alt="Light occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                        <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                        <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                    `;
                } else if (train.occupancy === "Light") {
                    occupancyIcons = `
                        <img src="/static/assets/icons/green-person.png" alt="Light occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/green-person.png" alt="Light occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                        <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                    `;
                } else if (train.occupancy === "Medium") {
                    occupancyIcons = `
                        <img src="/static/assets/icons/yellow-person.png" alt="Medium occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/yellow-person.png" alt="Medium occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/yellow-person.png" alt="Medium occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/gray-person.png" alt="Gray person" class="occupancy-icon">
                    `;
                } else if (train.occupancy === "Full") {
                    occupancyIcons = `
                        <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/red-person.png" alt="Full occupancy" class="occupancy-icon">
                    `;
                } else {
                    occupancyIcons = `
                        <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                        <img src="/static/assets/icons/invisible-person.png" alt="Unknown occupancy" class="occupancy-icon">
                    `;
                }

                trainDiv.innerHTML = `
                    <div class="${buttonClass}">
                        <span class="frame-2-black">${train.route_id}</span>
                    </div>
                    <div class="frame-3">
                        <span class="direction">
                            <img src="/static/assets/icons/arrow_circle.png" alt="Direction Icon" class="direction-icon">
                            ${train.direction || "Unknown"}
                        </span>
                        <span class="location">${train.location || "Unknown"}</span>
                    </div>
                    <div class="frame-4">
                        <span class="time-remaining">${train.arrival_time || "Unknown"}</span>
                        <img src="/static/assets/icons/signal.png" class="blinking-icon">
                        <div class="occupancy-group">
                            ${occupancyIcons}
                        </div>
                    </div>
                `;
                trainContainer.appendChild(trainDiv);
            });




            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        setInterval(refreshData, 30000); // Refresh data every 30 seconds
        document.addEventListener('DOMContentLoaded', refreshData);
    </script>
</head>
<body>
    <div class="main-container">
        <span class="time">{{ current_time }}</span>
        <div class="frame">
            <div class="stm-logo-container">
                <img src="/static/assets/images/STM.png" alt="STM logo" class="stm-logo">
            </div>
        </div>
        <div class="train-frame">
            <div class="exo-logo-container">
                <img src="/static/assets/images/exo.png" alt="Exo logo" class="exo-logo">
            </div>
        </div>
    
        <div class="footer-text">
            Données fournies par la STM et Exo
        </div>
    </div>
    <div class="logo-container">
        <img src="/static/assets/images/B.png" alt="Transport Logos">
    </div>
    
    
</body>
</html>
