/* MULTISLOT:
SLOT1: /static/assets/images/Banniere%20College%20de%20Bois-de-Boulogne.jpeg from 2025-07-11 to 2025-10-01
SLOT2:  from 0000-00-00 to 0000-00-00
SLOT3:  from 0000-00-00 to 0000-00-00
SLOT4:  from 0000-00-00 to 0000-00-00 */
